- Next Experience Unified Navigation on the platform:
Baseline implementation

-  How do you activate applications and application features?

Plugins
ServiceNow Store
Request from ServiceNow

- What is a copy of a ServiceNow environment that is specific to a customer?
- 4. How can you explore an application before purchasing?

Use a personal developer instance
Use a non-production instance
