
<div
      class="flex flex-col flex-auto flex-shrink-0  bg-gray-100 h-full " 
    >
    <app-loader1 *ngIf="loading"></app-loader1>
    
    

    <div *ngIf="!loading" class="flex flex-row items-center h-16 bg-white w-full  justify-between text-gray-700 bg-white fixed top-0 z-10 border-b-2  ps-6 pe-4" style="margin-top:0px;" [style.backgroundColor]="chat_bot.headerColor" [style.color]="chat_bot.textColor">
      
      <h1 class="flex-col text-bold text-2xl">{{chat_bot.name}}</h1>   
      <button (click)="removeMessages()"  class="inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-80 hover:text-zinc-900 dark:hover:bg-zinc-800 dark:hover:text-zinc-50 h-9 px-0 py-3 text-sm transition-transform duration-700 ease-in-out hover:rotate-180 hover:bg-inherit group-[.cb-dark]:text-zinc-300 group-[.cb-dark]:hover:text-zinc-400 group-[.cb-light]:text-zinc-700 group-[.cb-light]:hover:text-zinc-600" 
          aria-label="Reset Chat" title="Reset Chat">
           <svg xmlns="http://www.w3.org/2000/svg" 
              fill="none" viewBox="0 0 24 24" stroke-width="1.5" 
              stroke="currentColor" aria-hidden="true" class="h-5 w-5">
                 <path stroke-linecap="round" stroke-linejoin="round" 
                     d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"></path>
           </svg>
      </button>
    </div>
      <div *ngIf="!loading" #messageContainer  class="message-container flex flex-col h-full overflow-auto mb-5 min-h-[calc(100vh-7rem)] max-h-[calc(100vh-7rem)]" style="margin-top: 56px;" [style.backgroundColor]="chat_bot.chatBackgroundColor" [style.color]="chat_bot.textColor" >
        <div class="flex flex-col h-full" style="padding-bottom: 30px;">
          <div class="grid grid-cols-12 gap-y-2">
          
            <div class="col-start-1 col-end-8 p-3 rounded-lg">
              <div class="flex flex-row items-center">
               
                <div
                  class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                  [style.backgroundColor]="chat_bot.botMessageColor"
                >
                  <div>{{chat_bot.initialMessage}}</div>
                </div>
              </div>
            </div>
            <ng-container *ngFor="let message of messages; let last = last; let i = index">
              <div *ngIf="message.bot" class="col-start-1 col-end-8 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                  <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                  [style.backgroundColor]="chat_bot.botMessageColor" >
                    {{ message.message }}
                  </div>
                </div>
              </div>
            
              <div *ngIf="!message.bot" class="col-start-6 col-end-13 p-3 rounded-lg">
                <div class="flex items-center justify-start flex-row-reverse">
                  <div
                    class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
                    [style.backgroundColor]="chat_bot.userMessageColor"
                  >
                    <div>{{ message.message }}</div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="col-start-1 col-end-8 p-3 rounded-lg" *ngIf="message_loading==true">
              <div class="flex flex-row items-center">
               
                <div
                  class="relative ml-3 text-lg bg-white py-2 px-4 shadow rounded-xl"
                >
                <!-- message loader -->
                  <div >
                    <section class="dots-container">
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <form [formGroup]="messageForm" (ngSubmit)="onMessageSend()"  *ngIf="!loading" 
        class="flex flex-row items-center h-16  bg-white w-full px-4 fixed bottom-0 z-10"  [style.backgroundColor]="chat_bot.messageBackgroundColor" [style.color]="chat_bot.textColor"
      >
        <div class="flex-grow ">
          <div class="relative w-full">
            <input
              formControlName="message"
              type="text"
              class="flex w-full border rounded-xl  px-1 h-10"
              [style.backgroundColor]="chat_bot.messageBackgroundColor"
              [style.borderColor]="chat_bot.buttonBackgroundColor"
            />
            <!-- <button
              class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600"
            > -->
              <!-- <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg> -->
            <!-- </button> -->
          </div>
        </div>
        <div class="ml-4">
          <button
           type="submit"
            class="py-3 flex items-center justify-center   rounded-xl text-white px-4 py-1 flex-shrink-0"
            [style.backgroundColor]="chat_bot.buttonBackgroundColor"
            [disabled]="message_loading"
            
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" viewBox="0 0 24 24"><path [attr.fill]="chat_bot.messageBackgroundColor" d="m3.4 20.4l17.45-7.48a1 1 0 0 0 0-1.84L3.4 3.6a.993.993 0 0 0-1.39.91L2 9.12c0 .5.37.93.87.99L17 12L2.87 13.88c-.5.07-.87.5-.87 1l.01 4.61c0 .71.73 1.2 1.39.91"/></svg>
          </button>
        </div>
      </form>
    </div>

